
---
title: Welcome to my site
---

.row
    .col-md-12.text-center
        h1
            strong.
                YASS!
        h3.
            Yet Another Static Site

.row
    .col-md-12
        <YASS:IMAGE src="img/yass.gif" class="img-responsive center-block" />

        .text-center.mt40
            a(href='https://github.com/mardix/yass') YASS Doc

    .col-md-12
        <YASS:LINK_TO page='about-us.jade' />






